body {
    font-family: Georgia;
    margin: 0;
    padding: 0;
}

header, header a {
    text-align: center;
    padding: 1rem;
}

h2 {
    padding: 2rem;
}

main {
    padding: 1rem;
}

form {
    max-width: auto;
}

.boxes {
    margin-bottom: 1rem;
}

fieldset {
    border: 2px solid;
    padding: 1rem;
    margin-bottom: 1.5rem;
    border-radius: 8px;
}

legend {
    font-weight: bold;
    padding: 0 0.5rem;
}

.form-row {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

label {
    margin-bottom: 0.3rem;
}

input, textarea, select {
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid #888;
    background-color: #efeded;
}

.checkbox-row, .radio-label {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.submit-btn, header a {
    padding: 1rem;
    width: 100%;
    color: white;
    background: #0066cc;
    border: none;
    text-decoration: none;
    border-radius: 6px;
    font-size: 1.1rem;
    cursor: pointer;
}


@media (min-width: 500px) {

    .form-row {
        flex-direction: row;
        align-items: center;
    }

    .updown {
        display: flex;
    }

    .form-row label {
        width: 200px;
        margin-bottom: 0;
    }

    .submit-btn {
        width: auto;
        padding: 0.7rem 1.5rem;
        font-size: 1rem;
    }

    input, textarea, select {
        margin-left: 1rem;
    }
}

@media (min-width: 900px) {

    .updown {
        flex-direction: row;
    }
}