* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Segoe UI", Arial, sans-serif;
    background-color: #f2f2f2;
}

#page-header {
    background-image: url(/activity-09/images/pattern.jpg);
    background-size: cover;
    color: rgb(155, 255, 155);
    padding: 1rem;
}

.title {
    font-size: 3rem;
    letter-spacing: 0.05rem;
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav-list li {
    padding: .25rem .75rem;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 4px;
}

.nav-list a {
    color: rgb(155, 255, 155);
    font-size: 1.5rem;
}

.nav-list a:hover {
    color: #333333;
    background-color: #ffffff;
}

.info {
    list-style: none;
    background-color: #ffffff;
    padding: 1rem;
    border-radius: 6px;
    width: 60%;
}

.info li p{
    margin-bottom: 1.5rem;
}

main {
    color: rgb(190, 145, 90);
}

#footer {
    font-style: italic;
}