body {
    font-family: Georgia;
}

h1 {
    font-size: 4rem;
}

.navigationbar {
    display: grid;
    font-size: 20px;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
}

.box {
    background-color: rgb(129, 186, 183);
    border: 2px solid black;
}

.parent {
    display: grid;
    grid-template-columns: 1fr 4fr;
    padding-top: 1rem;
}

.lefttextbox {
    display: grid;
    font-size: 30px;
    padding-right: 1rem;
}

.mainbox {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.boxes {
    border: 3px solid black;
    font-family: Verdana;
    font-size: 2rem;
    padding: 0rem 0.5rem;
    text-align: center;
}

img {
    padding-top: 0.5rem;
}

p {
    font-size: 20px;
    font-family: Lucida Sans;
}

footer {
    display: grid;
    font-size: 20px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    padding-top: 1rem;
    text-align: center;
}