ul {
    list-style-image: url('favicon.ico');
}

ol {
    list-style-type: decimal;
}

body {
    background-image: url("images/landscape.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}