html, body {
    height: 100%;
    margin-top: 0rem;
    margin-bottom: 0rem;
}

body {
    display: flex;
    flex-direction: column;
    background-color: beige;
    font-family: Georgia;
    font-size: 17px;
}

main {
    padding: 0rem 1rem;
    flex: 1;
}

.next {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.big {
    display: grid;
}

main div div {
    display: flex;
    flex-direction: column;
}

header h1 {
    font-size: 2.5rem;
}

.align {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.first {
    font-size: 2rem;
}

.side {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
}

.line {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem 0rem;
    margin: 0rem 1rem;
    border: 3px solid #e2abab;
}

.distance {
    padding: 1rem 0.5rem;
}

nav div div a {
    font-style: italic;
    font-size: 18px;
}

figure, video {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}

#squish {
    margin-left: 1rem;
    margin-right: 1rem;
}

.oldies {
    max-width: 200px;
}

img {
    width: 100%;
    max-width: 350px;
    height: auto;
}

figcaption {
    margin: 0.5rem 0rem;
    font-size: 80%;
    font-style: italic;
    text-align: center;
    width: auto;
    max-width: 300px;
    text-wrap: balance;
}

footer {
    text-align: center;
    padding: 1rem;
}

@media (min-width: 820px) {

    body {
        font-size: 120%;
    }

    .next, .big {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    .align {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0rem 1rem;
        border: 3px solid #e2abab;
    }

    .line {
        display: flex;
        flex-direction: row;
        margin: 0rem;
        padding: 0rem;
        border: none;
    }

    nav div div a {
        display: flex;
        margin: 0rem 1rem;
    }
    
    img {
        padding-top: 5rem;
    }

    .oldies {
        max-width: 250px;
    }
}